*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
}

header{
    text-align: center;
}
h1{
    padding: 15px;
    color: #181818;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.teto{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00AEFF;    
    height: 60px;
    flex-shrink: 0;
    color: #181818;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

section{
    background-image: url(image/Group\ 19\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 378px;
    flex-shrink: 0;
   display: flex;
   align-items: center;
}

.capa{
    color: #FFF;
    
}

.texto-capa{
    width: 630px;
    margin-left: 100px;
}

.texto-capa p{
    color: #F9F9F9;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 500;
}

.texto-capa h2{
    color: #F9F9F9;
font-family: Montserrat;
font-size: 48px;
font-style: normal;
font-weight: 600;
}
.destaques{
    display: flex;
    align-items: center;
    justify-content: center;
 flex-direction: column;
 padding: 66px;
 gap: 17px;
}

.card{
    width: 415px;
height: 302px;
background: #EBE9EA;
display: flex;
align-items: center;
justify-content: center;
}


footer{
    background-color: #00AEFF;
    width: 1920px;
    height: 60px;
    flex-shrink: 0;
    color: #181818;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jordan{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 100px;
}